In [1]:
import os
import sys

sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"

In [21]:
import numpy as np
import pandas as pd
from my_stuff import MufexKeys
from nb_quantfreedom.exchanges.mufex_exchange.mufex import Mufex
from nb_quantfreedom.nb_enums import DynamicOrderSettingsArrays
from nb_quantfreedom.utils import pretty_qf
from requests import get
np.set_printoptions(formatter={"float_kind": "{:.2f}".format})

pd.options.display.float_format = "{:.2f}".format

mufex_main = Mufex(
    api_key=MufexKeys.api_key,
    secret_key=MufexKeys.secret_key,
    use_test_net=False,
)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
pd.DataFrame(get('https://api.mufex.finance/public/v1/market/kline?category=linear&symbol=BTCUSDT&interval=5').json()['data']['list'])

                 0        1        2        3        4        5            6
0    1697739900000  28608.1    28630  28606.2  28622.3     2.35   67258.6602
1    1697740200000  28622.3  28624.5  28596.1  28596.2    3.668  104940.3842
2    1697740500000  28596.2  28653.8    28580  28640.2    11.09  317328.8622
3    1697740800000  28640.2  28653.2  28605.3  28647.6   10.362   296709.064
4    1697741100000  28647.6  28680.2  28646.2  28656.6    9.157  262496.3263
..             ...      ...      ...      ...      ...      ...          ...
195  1697798400000  29988.1    30224  29944.1  29996.1  102.307  3077644.541
196  1697798700000  29996.1  29998.2  29874.9  29907.3   27.388  819815.3446
197  1697799000000  29907.3  29983.5  29857.5  29865.3   19.704  589551.5827
198  1697799300000  29865.3  29892.7  29838.4  29838.9   13.875  414318.4805
199  1697799600000  29838.9  29876.4  29788.5  29874.2   23.455  699536.8987

[200 rows x 7 columns]

In [22]:
candles = mufex_main.get_candles_df(
    symbol="BTCUSDT",
    timeframe="5m",
    limit=1000
)
pd.DataFrame(candles)

It took 00 mins and 00 seconds to download 1000 candles

                   0        1        2        3        4
0   1697499900000.00 28488.00 28509.20 28471.40 28471.40
1   1697500200000.00 28471.40 28503.50 28471.40 28484.40
2   1697500500000.00 28484.40 28492.50 28470.70 28486.40
3   1697500800000.00 28486.40 28526.60 28472.80 28524.10
4   1697501100000.00 28524.10 28534.40 28459.30 28466.10
..               ...      ...      ...      ...      ...
995 1697798400000.00 29988.10 30224.00 29944.10 29996.10
996 1697798700000.00 29996.10 29998.20 29874.90 29907.30
997 1697799000000.00 29907.30 29983.50 29857.50 29865.30
998 1697799300000.00 29865.30 29892.70 29838.40 29838.90
999 1697799600000.00 29838.90 29890.00 29788.50 29889.70

[1000 rows x 5 columns]

In [13]:
d_arrays = DynamicOrderSettingsArrays(
    entry_size_asset=np.array([0]),
    max_equity_risk_pct=np.array([3]),
    max_trades=np.array([5]),
    num_candles=np.array([61]),
    risk_account_pct_size=np.array([.2,5]),
    risk_reward=np.array([64.5]),
    sl_based_on_add_pct=np.array([2]),
    sl_based_on_lookback=np.array([6]),
    sl_bcb_type=np.array([2]),
    sl_to_be_cb_type=np.array([1.948,6]),
    sl_to_be_when_pct=np.array([1000]),
    sl_to_be_ze_type=np.array([54.61]),
    static_leverage=np.array([153]),
    trail_sl_bcb_type=np.array([0.64654]),
    trail_sl_by_pct=np.array([1.20]),
    trail_sl_when_pct=np.array([156.6]),
)

In [4]:
(1000-750) / 1000

0.25